.main-page {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px 40px 70px 0;
}

.main-page__broadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.main-page__broadcrumbs li {
  padding-right: 25px;
  position: relative;

  &:nth-child(n + 2)::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-slate-blue;
    top: calc(50% - 2px);
    left: -12px;
  }
}

.main-page__broadcrumbs a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  // color: $color-default-black;
}

.main-page__broadcrumbs span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  // color: $color-default-black;
  opacity: 0.5;
}

.main-page__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  // color: $color-default-black;
  margin: 0 0 30px;
}

.main-page__title-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  // color: $color-default-black;
  margin: 0 0 20px;
}

.main-page__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.main-page__link {
  display: flex;
  padding: 10px 15px;
  border: 1px solid $color-slate-blue;
  border-radius: 4px;
  transition: background-color 0.5s ease,
    opacity 0.3s ease;

  &:hover {
    background-color: $color-chost-white;
    opacity: 0.5;
  }
}

.main-page__sort {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.main-page__sort-title {
  margin: 0;
}

.main-page__sort-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}

.main-page__sort-list li {
  font-weight: 500;
  border-bottom: 1px solid $color-slate-blue;
}

.main-page__view-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-page__view-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-default-white;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(184, 184, 184, 0.25);
  background-color: inherit;
}

.main-page__view-btn {
  border: none;
  border-radius: 2px;
  background-color: transparent;
  color: $color-slate-blue-30;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  display: flex;

  transition: color 0.5s ease;

  &--active {
    color: $color-slate-blue;
  }

  &:hover {
    background-color: $color-default-black-10;
  }

  &--active:hover {
    background-color: transparent;
  }
}
